body
.fecha {
  width: 70%;
  margin: auto;
  background: #233f81;
  padding: 10px;
  border-radius: 10px;
}
.fecha__completa {
  text-align: center;
}
.hora {
  display: flex;
  flex-direction: column;
  font-size: 50px;
  align-items: center;
  font-weight: bold;
  color: rgb(255 255 255);
}
